<div class="container">
  <div class="success h2" >Channel Details</div>

  <div class="my-2">
    <input type="text" #link placeholder="Set Channel Link" size="70" >
    <button type="button"  (click)="showChannelDetails(link.value)" class="btn btn-success" > Show Details </button>
  </div>
  <div class="row">
    <table class="table table-inverse">
      <thead class="">
      <tr>
        <th class="text-center">Channel ID</th>
        <th class="text-center">Subscribers Count</th>
        <th class="text-center">Channel Total View</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td class="text-center"><a href="https://www.youtube.com/channel/{{_ytArray.items[0].id}}"> Go to the Channel </a></td>
        <td class="text-center">{{_ytArray.items[0].statistics.subscriberCount}}</td>
        <td class="text-center">{{_ytArray.items[0].statistics.viewCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

